<!DOCTYPE html>
<html lang="it">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Script-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="../css/style.css" rel="stylesheet" type="text/css" />

    <title>FishBait - Profile</title>
</head>

<body>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-xl-6">
                <h1 class="text-center mb-4">FishBait</h1>
                <hr class="row mb-4">
                <div class="row mb-4 align-items-center">
                    <div class="col"></div>
                    <div class="col d-flex justify-content-center">
                        <img id="user-photo" class="rounded-circle" alt="ff" width="100" height="100">
                    </div>
                    <div class="col d-flex justify-content-end">
                        <button id="logout" type="btn" class="btn btn-danger">Logout</button>
                    </div>
                </div>
                <div class="text-center">
                    <b id="user-name"></b>
                    <p id="user-username" class="mt-2"></p>
                    <i id="user-birth" class="bi bi-cake2"></i>
                    <p id="user-bio" class="mt-3 mb-0"></p>
                </div>
                <div class="row mb-4 mt-3">
                    <button type="submit" class="btn btn-outline-secondary form-control">Modifica profilo</button>
                </div>

                <!-- The Modal per i seguiti -->
                <div class="modal" id="myModalSeguiti">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Seguiti</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                    
                            <!-- Modal body -->
                            <div id="listSeguiti" class="modal-body">
                                
                            </div>
                    
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Chiudi</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- The Modal per i followers -->
                <div class="modal" id="myModalFollowers">
                    <div class="modal-dialog">
                        <div class="modal-content">
                    
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Followers</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                    
                            <!-- Modal body -->
                            <div id="listFollowers" class="modal-body">
                                
                            </div>
                    
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Chiudi</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col-4 mb-2">
                        <p>Post</p>
                        <p id="post">0</p>
                    </div>
                    <div class="col-4 mb-2">
                        <p id="n-seguiti" data-bs-toggle="modal" data-bs-target="#myModalSeguiti">Seguiti</p>
                        <p id="seguiti">0</p>
                    </div>
                    <div class="col-4 mb-2">
                        <p id="n-followers" data-bs-toggle="modal" data-bs-target="#myModalFollowers">Followers</p>
                        <p id="followers">0</p>
                    </div>
                </div>
                <hr class="row mb-4">
                <div class="justify-content-center">
                    <div class="row container d-flex mx-0 justify-content-start" id="post-space">

                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-xl-6 mt-3">
                <hr class="row mb-2 mt-3">
                <nav class="navbar justify-content-center">
                    <div class="d-flex justify-content-center">
                        <ul class="nav">
                            <li class="nav-item mx-3">
                                <a href="savedPosts.html"><i class="bi bi-bookmark fs-4 text-dark theme-icon"></i></a>
                            </li>
                            <li class="nav-item mx-3">
                                <a href="home.html"><i class="bi bi-house-door fs-4 text-dark theme-icon"></i></a>
                            </li>
                            <li class="nav-item mx-3">
                                <a href="addPost.html"><i class="bi bi-plus-square fs-4 text-dark theme-icon"></i></a>
                            </li>
                            <li class="nav-item mx-3">
                                <a href="notification.html"><i class="bi bi-bell fs-4 text-dark theme-icon"></i></a>
                            </li>
                            <li class="nav-item mx-3">
                                <a href="profile.html" id="profilo"><i class="bi bi-person-circle fs-4 text-dark theme-icon"></i></a>
                            </li>
                            <li class="nav-item mx-3">
                                <a href="search.html"><i class="bi bi-search fs-4 text-dark theme-icon"></i></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <script src="../../controller/user/profile.js"></script>
    <script src="../../controller/logout/logout.js"></script>
</body>

</html>